body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myClass {
  display: inline-block;
  color: green;
  font-family:'Times New Roman', Times, serif;
  transition: all 5s;
}

.myClass:hover { 
  transform: rotate(3600deg);
}

.myButton {
  transition: all 0s;
  color: red;
}

.myButton:hover {
  transform: translate(500px, 500px);
}

.big {
  font-size: 70px;
}